<% provide(:title, "Login") %>

<div ng-controller="LoginCtrl">

    <%= form_for(:session, url: sessions_path, :html => {:class => "login-reg"}) do |f| %>
   
        <%= f.text_field :email, { "ng-model" => "Email" } %>
   
        <%= f.text_field :password, { "ng-model" => "Password" } %>
   
        <%= f.submit "Login", class: "btn" %>
    <% end %>
</div>